#expand-panel2 {
    display: none;
}

#expand-panel6 {
    display: none;
}

#expand-panel16 {
    display: none;
}

.MuiAvatar-root {
    display: none;
}

.MuiAvatar-root.MuiAvatar-circular.MuiAvatar-colorDefault.css-2s90m6-MuiAvatar-root {
    display: none;
}
